doctype html
html
    head
        title Create Question
        link(href='/style.css', rel='stylesheet')
        link(href='/favicon.ico', rel='shortcut icon' type='image/x-icon')
        script(type="text/javascript").
            var optionAmount = 0;
            function addOption(){
                var options = document.getElementById("options");
                optionAmount++;
                var radioInput = document.createElement("input");
                radioInput.type = "radio";
                radioInput.name = "fakeRad";
                var optionInput = document.createElement("input");
                optionInput.autocomplete = "off";
                optionInput.type = "text";
                optionInput.name = "option";
                optionInput.placeholder = "Option " + optionAmount.toString();
                options.appendChild(radioInput);
                options.appendChild(optionInput);
                options.appendChild(document.createElement("br"));
            }
    body
        .content
            a(href="/") Home
            |&emsp;
            |&emsp;
            |&emsp;
            h1 Create new close-ended question
            form(action='create' method='post')
                input(autocomplete="off" type='text' name='questionName' placeholder='Type Question Here' style="width:75%")
                br
                div(id="options")
                    script addOption();
                    script addOption();
                div.itemAdd: a(href="#", onclick="addOption()") Add Option
                div: input(autocomplete="new-password" type='submit')