doctype html
html
    head
        title Create Question
    body
        h1 Create new close-ended question (limited to two answers for now).
        form(action='create' method='post')
            input(type='text' name='questionName' value='Type Question Here')
            br
            input(type='radio' name='fakeRad' value='fakeRad1' checked)
            input(type='text' name='option1' value='Option 1')
            br
            input(type='radio' name='fakeRad' value='fakeRad2')
            input(type='text' name='option2' value='Option 2')
            br
            input(type='submit')