doctype html
html
    head
        title Create Question
        link(href='/style.css', rel='stylesheet')
        link(href='/favicon.ico', rel='shortcut icon' type='image/x-icon')
        script(type="text/javascript").
            options = [];
            var optionAmount = 2;
            function addOption(){
                var options = document.getElementById("options");
                optionAmount++;
                var radioInput = document.createElement("input");
                radioInput.type = "radio";
                radioInput.name = "fakeRad";
                var optionInput = document.createElement("input");
                optionInput.autocomplete = "off";
                optionInput.type = "text";
                optionInput.name = "option";
                optionInput.placeholder = "Option " + optionAmount.toString();
                options.appendChild(radioInput);
                options.appendChild(optionInput);
                options.appendChild(document.createElement("br"));
                options.push(optionInput);
            }
    body
        .content
            a(href="/") Home
            |&emsp;
            |&emsp;
            |&emsp;
            a(href="#", onclick="addOption()") Add Item
            h1 Create new close-ended question (limited to two answers for now).
            form(action='create' method='post')
                input(autocomplete="off" type='text' name='questionName' placeholder='Type Question Here' style="width:75%")
                br
                div(id="options")
                    input(type='radio' name='fakeRad' checked)
                    input(autocomplete="off" type='text' name='option' placeholder='Option 1')
                    br
                    input(type='radio' name='fakeRad')
                    input(autocomplete="noff" type='text' name='option' placeholder='Option 2')
                    br
                //-NAMES CAN BE CHANGED TO MAKE LOOPING MORE POSSIBLE
                input(autocomplete="new-password" type='submit')