doctype html
html
    head
        title Create Question
    body
        h1 Create new closed question (limited to two answers for now)
        form(enctype="text/plain" method="post" action="redirect")
            input(type="text" name="questionName" value="Type Question Here")
            input(type="radio" name="fakeRad" checked)
            input(type="text" name="option1" value="Option 1")
            input(type="radio" name="fakeRad" checked)
            input(type="text" name="option2" value="Option 2")