doctype html
html
    head
        title Questions
        link(href='/style.css', rel='stylesheet')
    body
        .content
            h1 Welcome to questions!
            p(style="font-size:120%;"): b Open Questions:
            ul
                each question in questions
                    li: a(href=question.url)= question.question
            a(href="create", style="font-size:115%") Create Question