doctype html
html
    head
        title Questions
        link(href='/style.css', rel='stylesheet')
    body
        .content
            h1 Welcome to questions!
            p: b Open Questions:
            ul
                each question in questions
                    li: a(href=question.url)= question.question
            a(href="create") Create Question