doctype html
html
    head
        title Question
        link(href='/style.css', rel='stylesheet')
    body
        a(href="/") Home
        h1= question.question
        form(enctype='application/x-www-form-urlencoded' action=question.url method='post')
            input(type='radio' name='answer' value='0' checked)
            = question.options[0].name
            br
            input(type='radio' name='answer' value='1')
            = question.options[1].name
            br
            //- THIS CAN BE MADE INTO A LOOP, BUT I AM NOT GOING TO RIGHT NOW
            p: input(type='submit')
        a(href=question.url + "/results") Results