doctype html
html
    head
        title Question
        link(href='/style.css', rel='stylesheet')
        link(href='/favicon.ico', rel='shortcut icon' type='image/x-icon')
    body
        .content
            a(href="/") Home
            h1= question.question
            form(enctype='application/x-www-form-urlencoded' action=question.url method='post')
                .options
                    ul(style="list-style: none;")
                        each option, index in question.options
                            li
                                input(type='radio' name='answer' value=index)
                                = option.name
                p: input(type='submit')
            a(href=question.url + "/results") Results