
body {
    background-color: #aaaaaa;
    color: #000;
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background-color: #FFF;
    font-size: 120%;
}

a {
    color: #5b5b5b;
    font-size: 105%;
}

a:visited {
    color: #5b5b5b;
}

a:active {
    color: #000;
}

a:hover {
    color: #000;
}

.options {
    font-size: 150%;
}

.content {
    position: absolute;
    word-wrap: break-word;
    padding: 3% 3% 3% 3%;
    top: 20%;
    right: 33%;
    left: 17%;
    background-color: #8D8D8D !important;
}